<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>网金所平台系统</title> 
  <script src="../js/jquery-1.8.1.min.js"></script> 
  <link rel="shortcut icon" href="$appServer.get('images/favicon.ico')" type="image/x-icon" /> 
  <link href="$appServer.get('css/exception/exception.css')" rel="stylesheet" /> 
 </head> 
 <style type="text/css">
 
 </style>
 <body> 
  <div id="errorInfo"> 
   <img src="$appServer.get('images/login/error.gif')" style="width:150px;margin-top: 35px;" /> 
   <div class="tipBox"> 
    <div class="tip">
     温馨提示:
    </div> 
    <legend class="legend"> </legend> 
    <div id="info"> 
     <div>
       oops, 您没有访问权限.
      <span id="seconds">30</span>秒后系统将自动跳转到首页 
      <ul>
      	<li>您可以联系系统管理员配置权限</li>
      	<li>配置了权限仍看到此页面，请退出重新登录</li>
      </ul>
     </div> 
     <div class="button" style="width:135px" onclick="newLogin()">
      &nbsp;&gt; 跳转到首页
     </div> 
    </div> 
   </div> 
  </div> 
  <script type="text/javascript">
      var seconds =30;
      document.onload = watch();
      function watch() {
      		setInterval(function() {
      			seconds--;
				if(seconds > 9) {
					$("#seconds").text(seconds);
				}
				else {
					$("#seconds").text("0" + seconds);
				}
      			if(seconds <= 0) {
      				newLogin();
      			}
      		},1000);
      }
	  
     function newLogin() {
         window.top.location.href = "$!{contextPath}/toLogin.htm";
      }
</script>  
 </body>
</html>