
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
<meta http-equiv="expires" content="0">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>400</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=yes">
<meta name="renderer" content="webkit">
<link rel="shortcut icon" type="image/x-icon"
	href="${contextPath}/static/common/images/favicon.ico">

<link rel="stylesheet" type="text/css"
	href="${contextPath}/static/error/css/error.css" />

</head>
<body>
	<div class="error-500">
		<p>参数不正确</p>
 		#set($ex=$exception)
 		<p>Exception: $ex.class.simpleName</p>
		<pre>
		#foreach($stack in $ex.getStackTrace())
		    $stack.toString()
		#end
	    </pre>
		<img alt="400" src="${contextPath}/static/error/images/400.png">
	</div>
</body>
</html>
