/* theme-red */
/* Header */

.h-header{
	background:url(./img/header-bg.png) right top no-repeat #d83407;
}
.h-logo a{
	font-size:20px;
	font-family:"微软雅黑";
	font-style:italic;
	font-weight:bold;
	color:#fff;
}
.h-nav .h-nav-prev i{
	background:url(./img/icon.png) -126px -3px no-repeat;
}
.h-nav .h-nav-prev:hover i{
	background-position:-146px -3px;
}
.h-nav .h-nav-next i{
	background:url(./img/icon.png) -167px -3px no-repeat;
}
.h-nav .h-nav-next:hover i{
	background-position:-187px -3px;
}
.h-nav .h-nav-con ul li a i{
	background-image:url(./img/icon-nav.png);
}
.h-nav .h-nav-con ul li a span{
	color:#f1cfcc;
	font-family:"宋体";
}
.h-nav .h-nav-con ul li a:hover span,.h-nav .h-nav-con ul li.selected a span{
	color:#fff;
}


/* Nav collapsed */
.h-nav-collapsed > a{
	color:#fff;
}
.h-nav-collapsed > a > i{
	background-image:url(./img/icon-white.png);
}
.h-nav-collapsed > a > b.h-caret{
    border-color:#fff transparent transparent transparent;
}
.h-nav-collapsed .h-nav-con{
	background-color: #fff;
    border-color:#c5c5c5;
	
}
.h-nav-collapsed .h-nav-con ul li a{
	color: #333;
}
.h-nav-collapsed .h-nav-con ul li a i{
	background-image: url(./img/icon-red.png);
}
.h-nav-collapsed .h-nav-con ul li a span,.h-nav-collapsed .h-nav-con ul li a:hover span,.h-nav-collapsed .h-nav-con ul li.selected a span{
	font-weight:normal;
	color:#333333;
}

/* End nav collapsed */


/* Toolbar */
.h-toolbar ul > li > a{
	color:#fff;
}
.h-toolbar ul > li > a:hover{
	color:#fff;
}
.h-toolbar ul > li > a > i{
	background-image:url(./img/icon-white.png);
}
.h-toolbar ul > li > a > span.h-number{
	color:#474a01;
	background-color: #e9ef52;
}
.h-toolbar ul > li > a > b.h-caret{
    border-color:#fff transparent transparent transparent;
}
.h-toolbar ul > li > ol{
    background-color:#fff;
    border: 1px solid #e8e8e8;
}
.h-toolbar ul > li > ol > li > a{
    color: #333333;
}
.h-toolbar ul > li > ol > li > a:hover{
    color: #fff;
	background-color: #ba1405;
}
/* End Toolbar */


/* Toolbar collapsed */
.h-toolbar-collapsed > a{
	color:#fff;
}
.h-toolbar-collapsed > a > i{
	background-image:url(./img/icon-white.png);
}
.h-toolbar-collapsed > a > b.h-caret{
    border-color:#fff transparent transparent transparent;
}
.h-toolbar-collapsed > ul{
	background-color: #ffffff;
    border-color:#e8e8e8;
}
.h-toolbar-collapsed > ul > li > a {
	color:#333;
}
.h-toolbar-collapsed > ul > li > a:hover {
	color:#333;
}
.h-toolbar-collapsed > ul > li > a > i {
	background-image:url(./img/icon-red.png);
}
.h-toolbar-collapsed > ul > li > a > b.h-caret{
	width:0;
    height:0;
	margin-left:5px;
	font-size:0;
    border-width:4px;
    border-style:solid dashed dashed dashed;
    border-color:#333 transparent transparent transparent;
}

/* End Toolbar collapsed */

/* End Header */

/* Main */
/* Menu */
.h-menu{ 
	background-color:#f4f4f4;
	border-right-color:#c5c5c5;
}
.h-menu-header{
	font-family:"微软雅黑";
	color:#828282;
	border-bottom-color:#c5c5c5;
}
.h-menu-header i{
	background:url(./img/icon.png) -40px 0 no-repeat;
}
.h-menu-header i:hover{
	background:url(./img/icon.png) -60px 0 no-repeat;
}
.h-menu-body > ul > li{
	border-top-color:#fff;
	border-bottom-color:#c5c5c5;
}
.h-menu-body > ul > li > a {
	color: #4a4a4a;
}
.h-menu-body > ul > li > a:hover{
	background-color: #f6ded9;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#f8f0f0), to(#f6ded9));
	background-image: -webkit-linear-gradient(top, #f8f0f0 0%, #f6ded9 100%);
	background-image: -moz-linear-gradient(top, #f8f0f0 0%, #f6ded9 100%);
	background-image: -ms-linear-gradient(top, #f8f0f0 0%, #f6ded9 100%);
	background-image: -o-linear-gradient(top, #f8f0f0 0%, #f6ded9 100%);
	background-image: linear-gradient(top, #f8f0f0 0%, #f6ded9 100%);
}
.h-menu-body > ul > li.active > a,.h-menu-body > ul > li.active > a:hover{
	background-color: #f6ded9;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#f8f0f0), to(#f6ded9));
	background-image: -webkit-linear-gradient(top, #f8f0f0 0%, #f6ded9 100%);
	background-image: -moz-linear-gradient(top, #f8f0f0 0%, #f6ded9 100%);
	background-image: -ms-linear-gradient(top, #f8f0f0 0%, #f6ded9 100%);
	background-image: -o-linear-gradient(top, #f8f0f0 0%, #f6ded9 100%);
	background-image: linear-gradient(top, #f8f0f0 0%, #f6ded9 100%);
}
.h-menu-body > ul > li > a > i {
	background-image:url(./img/icon-red.png);
}
.h-menu-body > ul > li > a > .h-flag {
	background:url(./img/icon.png) -85px -28px no-repeat;
}
.h-menu-body > ul > li > ul {
	border-top-color:#c5c5c5;
	background-color:#f5f5f5;
}
.h-menu-body > ul > li > ul > li > a{
	color: #4a4a4a;
	border-bottom-color:#d4d4d4;
}
.h-menu-body > ul > li > ul > li:hover > a{
	color:#fff;
	background-color: #ba1405;
}
.h-menu-body > ul > li > ul > li > a .h-c-flag{
	background:url(./img/icon.png) -128px -25px no-repeat;
}
.h-menu-body > ul > li > ul > li:hover > a .h-c-flag{
	background-position:-148px -25px;
}
.h-menu-body > ul > li > ul > li > ul{
	background-color:#fff;
	border-bottom-color:#c5c5c5;
}
.h-menu-body > ul > li > ul > li > ul > li a{
	color: #fafafa;
}
.h-menu-body > ul > li > ul > li > ul > li a:hover{
	color: #fff;
	background-color: #ba1405;
}

/* Menu small */
.h-menu-collapsed .h-menu-header i{
	background:url(./img/icon.png) -81px 0 no-repeat;
}
.h-menu-collapsed .h-menu-header i:hover{
	background:url(./img/icon.png) -101px 0 no-repeat;
}
.h-menu-collapsed .h-menu-float > li:first-child{
	border-top-color:#c5c5c5;
}
.h-menu-collapsed .h-menu-float > li.h-menu-first{
	border-top-color:#c5c5c5;
}
.h-menu-collapsed .h-menu-float > li:last-child{
	border-bottom-color:#c5c5c5;
}
.h-menu-collapsed .h-menu-float > li.h-menu-last{
	border-bottom-color:#c5c5c5;
}
.h-menu-collapsed .h-menu-float > li > a{
	border-left-color:solid 1px #c5c5c5;
	border-right-color:solid 1px #c5c5c5;
	background-color:#f4f4f4;
}
.h-menu-collapsed .h-menu-float > li > a:hover{
	color: #fff;
	background-color: #ba1405;
}
.h-menu-collapsed .h-menu-float > li:hover > a,.h-menu-collapsed .h-menu-float > li.active > a {
	color: #fff;
	background-color: #ba1405;
}
/* End Menu small*/

/* Screen tab*/
.h-screen-tab{
	background-color:#f1f0f0;
	border-bottom-color:#c5c5c5;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#f9f8f8), to(#f1f0f0));
	background-image: -webkit-linear-gradient(top, #f9f8f8 0%, #f1f0f0 100%);
	background-image: -moz-linear-gradient(top, #f9f8f8 0%, #f1f0f0 100%);
	background-image: -ms-linear-gradient(top, #f9f8f8 0%, #f1f0f0 100%);
	background-image: -o-linear-gradient(top, #f9f8f8 0%, #f1f0f0 100%);
	background-image: linear-gradient(top, #f9f8f8 0%, #f1f0f0 100%);
}
.h-screen-tab .h-screen-tab-prev{
	border-right-color:#c5c5c5;
}
.h-screen-tab .h-screen-tab-next{
	border-left-color:#c5c5c5;
	border-right-color:#c5c5c5;
}
.h-screen-tab .h-screen-tab-prev:hover,.h-screen-tab .h-screen-tab-next:hover{
	background-color:#ffffff;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#ffffff), to(#efefef));
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #efefef 100%);
	background-image: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
	background-image: -ms-linear-gradient(top, #ffffff 0%, #efefef 100%);
	background-image: -o-linear-gradient(top, #ffffff 0%, #efefef 100%);
	background-image: linear-gradient(top, #ffffff 0%, #efefef 100%);
}
.h-screen-tab .h-screen-tab-prev i{
	background:url(./img/icon.png) -167px -25px no-repeat;
}
.h-screen-tab .h-screen-tab-next i{
	background:url(./img/icon.png) -7px -45px no-repeat;
}
.h-screen-tab .h-screen-tab-con ul li{
	border-right-color:#c5c5c5;
}
.h-screen-tab .h-screen-tab-con ul li.active{
	background-color:#ffffff;
	background-image: -webkit-gradient(linear, 0 30%, 0 100%, from(#ffffff), to(#f8f5f5));
	background-image: -webkit-linear-gradient(top, #ffffff 30%, #f8f5f5 100%);
	background-image: -moz-linear-gradient(top, #ffffff 30%, #f8f5f5 100%);
	background-image: -ms-linear-gradient(top, #ffffff 30%, #f8f5f5 100%);
	background-image: -o-linear-gradient(top, #ffffff 30%, #f8f5f5 100%);
	background-image: linear-gradient(top, #ffffff 30%, #f8f5f5 100%);
}
.h-screen-tab .h-screen-tab-con ul li.active i{
	background-image:url(./img/icon-black.png);
}
.h-screen-tab .h-screen-tab-set{
	background:url(./img/icon.png) -43px -43px no-repeat;
}
.h-screen-tab .h-screen-tab-set ul{
    background-color: #f4f4f4;
    border-color:#c5c5c5;
}
.h-screen-tab .h-screen-tab-set ul > li.h-set-line span{
	background-color:#d3d3d3;
}
.h-screen-tab .h-screen-tab-set ul > li.h-set-close span{
	background:url(./img/icon.png) -4px -4px no-repeat;
}
.h-screen-tab .h-screen-tab-set ul > li.h-set-close span:hover{
	background-position:-24px -4px;
}
.h-screen-tab .h-screen-tab-set ul > li > a{
    color: #333333;
}
.h-screen-tab .h-screen-tab-set ul > li > a:hover{
    color: #fff;
	background-color: #ba1405;
}
.h-screen-tab .h-screen-tab-zoom{
	background:url(./img/icon.png) -63px -43px no-repeat;
}
.h-screen-tab .h-screen-tab-narrow{
	background:url(./img/icon.png) -83px -43px no-repeat;
}



/** window **/
.h_floatdiv-title{line-height:200%;background-color:#d63206;background-image:url("img/window-title-bg.jpg"); background-position:center right; background-repeat:no-repeat;padding-top:7px;padding-right:0px;padding-bottom:8px;padding-left:10px;}
.h_floatdiv-title span{color:#ffffff;}

.h_btndiv button.h_btn-submit{background:#c72205;color:#fff;}
.h_btndiv button.h_btn-cencel{background:#d3d3d3;color:#5d5d5d;}

.h_btndiv button{color:#000000;font-size:14px;font-weight:bold;}


/**form**/
.h_screen-content-3 .h_panel li.hc_panel-li{min-height:28px;height:28px;} /**最小高请与高值设置一致，否则浏览器会有不兼容情况**/
.h_formtable table th{background-color:#ba1405;color:#ffffff;}/**Grid_table表格 **/
.h_table thead th{}/**Query_table表格**/

/** tab_panel **/



/** grid **/
.h_formtable table th{padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:5px;height:auto;}
.h_formtable table td{padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:5px;height:auto;}


